@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-bg-100: var(--color-amber-50);
	--color-bg-200: color-mix(in srgb, var(--color-amber-50) 97%, black);
}

@layer base {
	html {
		@apply font-mono text-[0.875rem] sm:text-base;
	}

	body {
		@apply min-h-dvh flex flex-col;
		background-color: color-mix(in srgb, theme(colors.amber.50) 97%, black);
	}

	button {
		@apply cursor-pointer;
	}

	input, textarea {
		@apply min-w-0 w-full;
	}

	textarea {
		@apply resize-none;
	}
}